@import "~bootstrap/scss/bootstrap";

$blue: #47BEDB;
$green: #4FB690;
body{
  font-family: 'Roboto', sans-serif;
}

.btn{
  margin: 1rem 0;
}

.btn-primary{
  width: 282px;
  height: 36px;
  background-color: $blue;
  border: none;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  border-radius: 18px;
}
.btn-outline-primary{
  width: 282px;
  height: 36px;
  color: $green;
  border-color: $green;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  border-radius: 18px;
}
.main-titles{
  font-family: Roboto, medium;
  text-align: center;
  color: $blue;
}
.form-group {
  margin:5%;
  width: 90%;
}
.form-control{
  height: 38px;
}
